<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Tell</th>
      <th>Employees</th>
      <th>Capital</th>
      <th>Establish date</th>
      <th>Url</th>
      <th>Average age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.address %></td>
        <td><%= company.email %></td>
        <td><%= company.tell %></td>
        <td><%= company.employees %></td>
        <td><%= company.capital %></td>
        <td><%= company.establish_date %></td>
        <td><%= company.url %></td>
        <td><%= company.average_age %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
