<p id="notice"><%= notice %></p>

<h1>Job Offers</h1>

<% if @current_user == :recruiter %>
  <%= link_to 'New Job Offer', new_job_offer_path %>
<% end %>
<div class="container">
  <ul class="list-unstyled">
    <% @job_offers.each do |job_offer| %>
      <li class="media">
        <%= image_tag 'job_offer/sample_job_offer.png', class: 'mr-3', alt: '会社の写真', width: 180, height: 180 %>
        <div class="media-body">
          <h5 class="mt-0 mb-1"><%= job_offer.company.name %></h5>
          <p><%= job_offer.title %></p>
          <p><%= job_offer.content[0..300] %></p>
          <p><%= link_to 'Show', job_offer %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>

